doctype html
html(lang="en")
		head
			meta(charset="utf-8")
			title #{title}
			link(type="text/css",rel="stylesheet",href="../stylesheets/style.css")
			script(src="/socket.io/socket.io.js")
		body
			block content