extends ../layout

block content
	h1="Sign in"

	form(id="register", method="post", action="sign-in")
		input(type=text, name="username", id="username")
		input(type=password, name="password", id="password")
		button(type=submit, name="login", value="Sign In")
